<% content_for(:title, "New Bus Line | Timetable") %>
<div class='container'>
  <div class='row'>
    <h1><%= image_tag('bus.jpg', class: 'pull-left', width: '200') %><b>&nbsp&nbspBus Timetable</b></h1>
  </div><br>
  <h3><u>Add a New Line</u></h3>
    <%= render('form') %>
  <br><br><br>
  <hr>
  <h4><%= link_to "See All Bus Lines", bus_lines_path %></h4>
</div>
